{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% macro endOfSection(text, idPrefix) %}
  <p class="govuk-heading-s">{{ __('sharePlan.yourProposedPlan.endOfSection') }}</p>
  {{
    govukTextarea({
      name: idPrefix + "-end-of-section",
      label: {
        text: text
      }
    })
  }}
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
{% endmacro %}
