<nav role="navigation">
    <h2 class="govuk-heading-s govuk-!-font-weight-regular govuk-!-font-size-16 govuk-!-margin-bottom-2">Contents</h2>
    <ol class="govuk-list govuk-list--bullet govuk-list--dash govuk-list--space govuk-!-font-size-16">
    <li>{{ __("pages.start.contents.makingChildArrangements") }}</li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.getHelpMakingChildArrangements") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.agreeOnChildArrangements") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.agreementThroughMediation") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.otherWaysToAgree") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.CourtOrdersToApply") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.applyCourtOrder") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.afterApplyCourtOrder") }}</a>
    </li>
    <li class="govuk-!-margin-bottom-2">
        <a class="govuk-link" href="#">{{ __("pages.start.contents.enforceOrder") }}</a>
    </li>
    </ol>
</nav>
