<div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m subsection-title">
        {{ __("pages.start.relatedContent.title") }}
    </h2>
    <nav role="navigation">
        <ul class="govuk-list govuk-!-font-size-16">
        <li class="govuk-!-margin-bottom-2">
            <a href="https://www.gov.uk/looking-after-children-divorce">
            {{ __("pages.start.relatedContent.content.makingChildArrangements") }}
            </a>
        </li>
        <li class="govuk-!-margin-bottom-2">
            <a href="https://www.gov.uk/child-maintenance-service">
            {{ __("pages.start.relatedContent.content.childMaintenance") }}
            </a>
        </li>
        <li class="govuk-!-margin-bottom-2">
            <a href="https://www.gov.uk/parental-rights-responsibilities">
            {{ __("pages.start.relatedContent.content.parentalRights") }}
            </a>
        </li>
        </ul>
    </nav>
</div>