@use 'govuk-frontend/dist/govuk/index' as * with (
  $govuk-global-styles: true
);

.now-share-header {
  margin-top: 0;
  border-top: 10px solid #1d70b8;
}

.link-styled-button {
  @extend %govuk-body-m;
  color: $govuk-link-colour;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.agreement-input__item {
  display: inline-block;
  margin-right: govuk-spacing(4);
}

.newline-separated-paragraph {
  white-space: pre-line;
}
