@use 'govuk-frontend/dist/govuk/index' as * with (
  $govuk-global-styles: true
);

.now-share-header {
  margin-top: 0;
  border-top: 10px solid #1d70b8;
}

.link-styled-button {
  @extend %govuk-body-m;
  color: $govuk-link-colour;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.agreement-input__item {
  display: inline-block;
  margin-right: govuk-spacing(4);
}

.newline-separated-paragraph {
  white-space: pre-line;
}

.govuk-list--dash {
  list-style: none;
  padding-left: 0;
}

.govuk-list--dash > li {
  position: relative;
  padding-left: 1.5em;
}

.govuk-list--dash > li::before {
  content: "-";
  position: absolute;
  left: 0;
  width: 20px;
  transform: scaleX(4);
  transform-origin: left;
}

.subsection-title {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}

.govuk-summary-list__key-width {
  width: 20%;
}
