@use 'govuk-frontend/dist/govuk/index' as * with (
  $govuk-global-styles: true
);

.now-share-header {
  margin-top: 0;
  border-top: 10px solid #1d70b8;
}

.link-styled-button {
  @extend %govuk-body-m;
  color: $govuk-link-colour;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.agreement-input__item {
  display: inline-block;
  margin-right: govuk-spacing(4);
}

.newline-separated-paragraph {
  white-space: pre-line;
}

.govuk-list--dash {
  list-style: none;
  padding-left: 0;
}

.govuk-list--dash > li {
  position: relative;
  padding-left: 1.5em;
}

.govuk-list--dash > li::before {
  content: "-";
  position: absolute;
  left: 0;
  width: 20px;
  transform: scaleX(4);
  transform-origin: left;
}

.subsection-title {
  border-top: 2px solid #1d70b8;
  padding-top: 10px;
}

.govuk-summary-list__key-width {
  width: 20%;
}

.govuk-summary-list__key-mediation-width {
  width: 32%;
}

.govuk-print-link__button {
  @include govuk-font($size: 19);
  @include govuk-link-common;
  @include govuk-link-style-default;
  background: transparent;
  display: inline-flex;
  align-items: center;
  background-size: 16px 18px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #505a5f;
  color: #1d70b8;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 18px;
    margin-right: 10px;
    background: url("/assets/images/icon-print.png") no-repeat;
    background-size: 16px 18px;
  }

  @media print {
    display: none;
  }
}

.govuk-print-link__button:hover {
  background-color: #f3f2f1;
}

.govuk-print-link__button:focus {
  border: none;
}
