{% from "macros/doYouAgreeAndSuggestion.njk" import doYouAgreeAndSuggestion %}

<h3 class="govuk-heading-m">{{ __('taskList.decisionMaking') }}</h3>

<h4 class="govuk-heading-s">{{ __('decisionMaking.planLastMinuteChanges.title') }}</h4>
<p class="govuk-body">{{ __('decisionMaking.planLastMinuteChanges.howChangesCommunicatedAdditionalDescription') }}</p>
<p class="newline-separated-paragraph">{{ values.planLastMinuteChanges }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planLastMinuteChanges'), "plan-last-minute-changes") }}

<h4 class="govuk-heading-s">{{ __('decisionMaking.planLongTermNotice.title') }}</h4>
<p class="govuk-body">{{ __('decisionMaking.planLongTermNotice.sometimesYouNeedToPlanAhead') }}</p>
<p class="newline-separated-paragraph">{{ values.planLongTermNotice }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planLongTermNotice'), "plan-long-term-notice") }}

<h4 class="govuk-heading-s">{{ __('decisionMaking.planReview.title') }}</h4>
<p class="govuk-body">{{ __('decisionMaking.planReview.childrensNeedsChange') }}</p>
<p class="newline-separated-paragraph">{{ values.planReview }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.decisionMaking.planReview'), "plan-review") }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.decisionMaking'), "decision-making") }}
