{% from "macros/doYouAgreeAndSuggestion.njk" import doYouAgreeAndSuggestion %}

<h3 class="govuk-heading-m">{{ __('taskList.handoverAndHolidays') }}</h3>

<h4 class="govuk-heading-s">{{ __('handoverAndHolidays.getBetweenHouseholds.title') }}</h4>
<p class="newline-separated-paragraph">{{ values.getBetweenHouseholdsAnswer }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.handoverAndHolidays.getBetweenHouseholds'), "get-between-households") }}

<h4 class="govuk-heading-s">{{ __('handoverAndHolidays.whereHandover.title') }}</h4>
<p>{{ __('handoverAndHolidays.whereHandover.explainer') }}</p>
<p class="newline-separated-paragraph">{{ values.whereHandoverAnswer }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.handoverAndHolidays.whereHandover'), "where-handover") }}

<h4 class="govuk-heading-s">{{ __('handoverAndHolidays.willChangeDuringSchoolHolidays.title') }}</h4>
<p class="newline-separated-paragraph">{{ values.willChangeDuringSchoolHolidaysAnswer }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.handoverAndHolidays.willChangeDuringSchoolHolidays'), "will-change-during-school-holidays") }}

{% if values.howChangeDuringSchoolHolidaysAnswer %}
  <h4 class="govuk-heading-s">{{ __('handoverAndHolidays.howChangeDuringSchoolHolidays.title') }}</h4>
  <p>{{ __('handoverAndHolidays.howChangeDuringSchoolHolidays.content') }}</p>
  <p class="newline-separated-paragraph">{{ values.howChangeDuringSchoolHolidaysAnswer }}</p>
  {{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.handoverAndHolidays.howChangeDuringSchoolHolidays'), "how-change-during-school-holidays") }}
{% endif %}

<h4 class="govuk-heading-s">{{ __('handoverAndHolidays.itemsForChangeover.title') }}</h4>
<p class="newline-separated-paragraph">{{ values.itemsForChangeoverAnswer }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.handoverAndHolidays.itemsForChangeover'), "items-for-changeover") }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.handoverAndHolidays'), "handover-and-holidays") }}
