{% from "macros/doYouAgreeAndSuggestion.njk" import doYouAgreeAndSuggestion %}

<h3 class="govuk-heading-m">{{ __('taskList.otherThings') }}</h3>

<h4 class="govuk-heading-s">{{ __('otherThings.whatOtherThingsMatter.title') }}</h4>
<p class="govuk-body">{{ __('otherThings.whatOtherThingsMatter.thingsToAgree') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ __('otherThings.whatOtherThingsMatter.religionDietAndRules') }}</li>
  <li>{{ __('otherThings.whatOtherThingsMatter.extraCurriculars') }}</li>
  <li>{{ __('otherThings.whatOtherThingsMatter.friendsAndFamily') }}</li>
  <li>{{ __('otherThings.whatOtherThingsMatter.otherContact') }}</li>
</ul>
<p class="newline-separated-paragraph">{{ values.whatOtherThingsMatterAnswer }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.otherThings.whatOtherThingsMatter'), "what-other-things-matter") }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.otherThings'), "other-things") }}
