{% from "macros/doYouAgreeAndSuggestion.njk" import doYouAgreeAndSuggestion %}

<h3 class="govuk-heading-m">{{ __('taskList.specialDays') }}</h3>

<h4 class="govuk-heading-s">{{ __('specialDays.whatWillHappen.title') }}</h4>
<p>{{ __('specialDays.whatWillHappen.content') }}</p>
<p class="newline-separated-paragraph">{{ values.whatWillHappenAnswer }}</p>
{{ doYouAgreeAndSuggestion(__('sharePlan.yourProposedPlan.doNotAgree.specialDays.whatWillHappen'), "what-will-happen") }}

{{ endOfSection(__('sharePlan.yourProposedPlan.compromise.specialDays'), "special-days") }}
