<h3 class="govuk-heading-m">
  {{ __('sharePlan.whatWeAreTelling.proposedPlan', {childrenNames: values.childrenNames}) }}
</h3>
<p>
  {{ __('sharePlan.whatWeAreTelling.initialIsAsking', {senderName: values.initialAdultName, childrenNames: values.childrenNames}) }}
</p>
<p>{{ __('sharePlan.whatWeAreTelling.doNotNeedToAccept', {senderName: values.initialAdultName}) }}</p>
<p>{{ __('sharePlan.whatWeAreTelling.insteadYouCan') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ __('sharePlan.whatWeAreTelling.suggestChanges', {senderName: values.initialAdultName}) }}</li>
  <li>{{ __('sharePlan.whatWeAreTelling.startYourOwn') }}</li>
  <li>{{ __('sharePlan.whatWeAreTelling.makeCustom') }}</li>
</ul>
<p>{{ __('sharePlan.whatWeAreTelling.notLegallyBinding') }}</p>
<h4 class="govuk-heading-s">{{ __('sharePlan.whatWeAreTelling.benefitsHeading') }}</h4>
<p>{{ __('sharePlan.whatWeAreTelling.benefits', {senderName: values.initialAdultName}) }}</p>
<h4 class="govuk-heading-s">{{ __('sharePlan.whatWeAreTelling.topTips') }}</h4>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ __('sharePlan.whatWeAreTelling.compromise', {senderName: values.initialAdultName}) }}</li>
  <li>{{ __('sharePlan.whatWeAreTelling.childrensInput') }}</li>
  <li>{{ __('sharePlan.whatWeAreTelling.childrenFirst') }}</li>
  <li>{{ __('sharePlan.whatWeAreTelling.splitMayNotBeBest') }}</li>
</ul>
<h4 class="govuk-heading-s">{{ __('sharePlan.whatWeAreTelling.moreInfoHeading') }}</h4>
<p>{{ __('sharePlan.whatWeAreTelling.moreInfo') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ __('sharePlan.whatWeAreTelling.separatingOrDivorcing') }}</li>
  <li>{{ __('sharePlan.whatWeAreTelling.makingChildArrangements') }}</li>
</ul>
<h4 class="govuk-heading-s">{{ __('sharePlan.whatWeAreTelling.safetyCheckHeading') }}</h4>
<p>{{ __('sharePlan.whatWeAreTelling.safetyCheck') }}</p>
<p>{{ __('sharePlan.whatWeAreTelling.doNotContinueIf') }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ __('childrenSafetyCheck.domesticAbuse') }}</li>
  <li>{{ __('childrenSafetyCheck.childAbduction') }}</li>
  <li>{{ __('childrenSafetyCheck.childAbuse') }}</li>
  <li>{{ __('childrenSafetyCheck.drugsOrAlcohol') }}</li>
  <li>{{ __('childrenSafetyCheck.otherConcerns') }}</li>
</ul>
<p class="govuk-!-font-weight-bold">{{ __('sharePlan.whatWeAreTelling.stopIfAnyConcern') | customUrlize | safe }}</p>
<h4 class="govuk-heading-s">{{ __('sharePlan.whatWeAreTelling.gettingHelpHeading') }}</h4>
<p>{{ __('sharePlan.whatWeAreTelling.gettingHelp') | customUrlize | safe }}</p>
<h4 class="govuk-heading-s">{{ __('sharePlan.whatWeAreTelling.courtOrderHeading') }}</h4>
<p>{{ __('sharePlan.whatWeAreTelling.ifCourtOrderInIsPlace') | customUrlize | safe }}</p>
