{% from "macros/endOfSection.njk" import endOfSection %}
{% from "macros/doYouAgree.njk" import doYouAgree %}

<h3 class="govuk-heading-l">{{ __('sharePlan.yourProposedPlan.aboutThePlan') }}</h3>

<p class="govuk-body">{{ __('sharePlan.yourProposedPlan.senderSaid', {senderName: values.initialAdultName}) }}</p>
<ul class="govuk-list govuk-list--bullet">
  <li>{{ __('sharePlan.yourProposedPlan.noCourtOrder') }}</li>
  <li>
    {% if values.numberOfChildren === 1 %}
      {{ __('sharePlan.yourProposedPlan.forOneChild', {childName: values.childrenNames}) }}
    {% else %}
      {{ __('sharePlan.yourProposedPlan.forMultipleChildren', {childrenNames: values.childrenNames, numberOfChildren: values.numberOfChildren}) }}
    {% endif %}
  </li>
  <li>
    {{ __('sharePlan.yourProposedPlan.agreementBetween', {senderName: values.initialAdultName, otherAdultName: values.secondaryAdultName, childrenNames: values.childrenNames}) }}
  </li>
</ul>
{{ doYouAgree(__('sharePlan.yourProposedPlan.doYouAgreeOnBasics'), "about-the-plan") }}
<p>{{ __('sharePlan.yourProposedPlan.doNotStoreNames') }}</p>
<p>{{ __('sharePlan.yourProposedPlan.doNotAgreeOnBasics') | customUrlize | safe }}</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

{% include 'partials/sharePlan/livingAndVisiting.njk' %}
{% include 'partials/sharePlan/handoverAndHolidays.njk' %}
{% include 'partials/sharePlan/specialDays.njk' %}
{% include 'partials/sharePlan/otherThings.njk' %}
{% include 'partials/sharePlan/decisionMaking.njk' %}

<h3 class="govuk-heading-m">{{ __('sharePlan.yourProposedPlan.whatHappensNowHeading') }}</h3>
<p>{{ __('sharePlan.yourProposedPlan.nowSendPlan', {senderName: values.initialAdultName}) }}</p>
<p>{{ __('sharePlan.yourProposedPlan.notLegallyBinding') }}</p>
<p>{{ __('sharePlan.yourProposedPlan.unableToAgree') }}</p>
<p>{{ __('sharePlan.yourProposedPlan.moreInfoAndSupport') | customUrlize | safe }}</p>
<p>{{ __('sharePlan.yourProposedPlan.helpUsImprove') | customUrlize | safe }}</p>
