{% extends "partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      {% if not production %}
        <h2 class="govuk-heading-m">{{ status }}</h2>
        <pre>{{ stack }}</pre>
      {% endif %}
      <p class="govuk-body">{{ __('errors.rateLimit.info') | safe }}</p>
      <p class="govuk-body">{{ __('errors.rateLimit.tryReloading') | safe }}</p>
    </div>
  </div>
{% endblock %}
