{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __('pages.accessibilityStatement.title') }}</h1>

      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.appliesTo') }}</p>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.runBy') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __('pages.accessibilityStatement.content.abilities.changeColours') }}</li>
        <li>{{ __('pages.accessibilityStatement.content.abilities.zoomIn') }}</li>
        <li>{{ __('pages.accessibilityStatement.content.abilities.navigate') }}</li>
        <li>{{ __('pages.accessibilityStatement.content.abilities.listen') }}</li>
      </ul>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.simpleText') }}</p>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.abilityNet') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.howAccessible.title') }}</h2>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.howAccessible.tested') }}</p>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.howAccessible.notFullyTested') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.feedback.title') }}</h2>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.feedback.contact') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.enforcement.title') }}</h2>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.enforcement.responsible') }}</p>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.enforcement.complaint') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.technical.title') }}</h2>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.technical.commitment') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.compliance.title') }}</h2>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.compliance.tested') }}</p>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.compliance.partiallyCompliant') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.nonAccessible.title') }}</h2>
      <h3 class="govuk-heading-s">{{ __('pages.accessibilityStatement.content.nonAccessible.nonCompliance.title') }}</h3>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.nonAccessible.nonCompliance.exitButton') }}</p>
      <ol class="govuk-list govuk-list--number">
        <li>{{ __('pages.accessibilityStatement.content.nonAccessible.nonCompliance.issues.lastElement') }}</li>
        <li>{{ __('pages.accessibilityStatement.content.nonAccessible.nonCompliance.issues.shiftKey') }}</li>
      </ol>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.nonAccessible.nonCompliance.planToResolve') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.accessibilityStatement.content.preparation.title') }}</h2>
      <p class="govuk-body">{{ __('pages.accessibilityStatement.content.preparation.preparedOn') }}</p>
      <p class="govuk-body govuk-!-margin-bottom-0">{{ __('pages.accessibilityStatement.content.preparation.lastTested') }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
