{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = __("pages.agreement.title") %}
{% block pageTitle %}
  {{ __("pages.agreement.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% set legendText %}
  {{ __("pages.agreement.title") }}
{% endset %}

{% set additionalText %}
  <div id="agreement-additional-text">
    <p>
      {{ __("pages.agreement.content.description") }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ __("pages.agreement.content.descriptionList.first") }}</li>
      <li>{{ __("pages.agreement.content.descriptionList.second") }}</li>
      <li>{{ __("pages.agreement.content.descriptionList.third") }}</li>
    </ul>
  </div>
{% endset %}

{% set radioItems = [
  { value: "yes", text: __("pages.agreement.content.options.first")  },
  { value: "no", text: __("pages.agreement.content.options.second") },
  { value: "not-discussed", text: __("pages.agreement.content.options.third") }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.AGREEMENT }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          name: formFields.AGREEMENT,
          describedBy: 'agreement-additional-text',
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: additionalText
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.AGREEMENT)
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
