{% extends "partials/layout.njk" %}

{% set title = __("pages.agreement.title") %}
{% block pageTitle %}
  {{ __("pages.agreement.title") }} – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form class="form" action="{{ paths.AGREEMENT }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <h1 class="govuk-heading-l">
          {{ __("pages.agreement.title") }}
        </h1>
        <p>
          {{ __("pages.agreement.content.description") }}
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ __("pages.agreement.content.descriptionList.first") }}</li>
          <li>{{ __("pages.agreement.content.descriptionList.second") }}</li>
          <li>{{ __("pages.agreement.content.descriptionList.third") }}</li>
        </ul>

        {% set radioItems = [
          { value: "yes", text: __("pages.agreement.content.options.first")  },
          { value: "no", text: __("pages.agreement.content.options.second") },
          { value: "not-discussed", text: __("pages.agreement.content.options.third") }
        ] %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: formFields.AGREEMENT,
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.AGREEMENT)
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
