{% extends "partials/layout.njk" %}

{% set title = __("pages.compare.title") %}
{% block pageTitle %}
  Content page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Compare child arrangement options
      </h1>

      <p>
        There are different ways to decide about child arrangements when you separate from your partner. You do not have to go to court unless you can't agree or you or the children are at risk. Below are some of the options you might want to explore.
      </p>
      <p><a href="/guide">Find out more about making child arrangements</a>
      </p>

      <div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#parenting-plan">
        Parenting plan
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#mediation">
        Mediation
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#court">
        Family court
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="parenting-plan">
    <h2 class="govuk-heading-l">Parenting plan</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Cost</strong></td>
          <td class="govuk-table__cell">You can make a parenting plan together using free online tools.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Time</strong></td>
          <td class="govuk-table__cell">You can work through a parenting plan in your own time and at a pace that is comfortable for you. This could be as little as a couple of hours.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Who makes the decision?</strong></td>
          <td class="govuk-table__cell">You and your ex-partner</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Is it legally binding?</strong></td>
          <td class="govuk-table__cell">Your child arrangements don't have to be legally binding if you agree. You can hire a legal adviser to draft a consent order to make your plan legally binding.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>How can you change the arrangements?</strong></td>
          <td class="govuk-table__cell">You can change your child arrangement plans whenever you need to if you both agree. You can review your plan as your children get older and their needs change, or if your situation changes.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>This might be right for you if</strong></td>
          <td class="govuk-table__cell">You and your ex-partner agree on what you want from child arrangements.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Next step</strong></td>
          <td class="govuk-table__cell"><a href="#">Make a child arrangements plan</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mediation">
    <h2 class="govuk-heading-l">Mediation</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Cost</strong></td>
          <td class="govuk-table__cell">As a guide, mediation sessions cost around £130 - £170 per person per hour. This will vary depending on  location and the issues you need to discuss. You may be able to get legal aid to cover the cost if you are on a low income.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Help with costs</strong></td>
          <td class="govuk-table__cell">You may be able to get legal aid to cover the cost of mediation if you are on a low income. You can usually get a voucher worth up to £500 to pay for family mediation through the Family Mediation Voucher Scheme, regardless of what you earn. The voucher usually pays for a minimum of 2 mediation sessions, depending on where you live and the type of mediation.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Time</strong></td>
          <td class="govuk-table__cell">The number of mediation sessions you need will depend on your situation, but coming to an agreement by mediation is usually quicker than going to family court. </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Who makes the decision?</strong></td>
          <td class="govuk-table__cell">You and your ex-partner</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Is it legally binding?</strong></td>
          <td class="govuk-table__cell">Your child arrangements don't have to be legally binding if you agree. You can hire a legal adviser to draft a consent order to make your plan legally binding.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>How can you change the arrangements?</strong></td>
          <td class="govuk-table__cell">You can change your child arrangement plans whenever you need to if you both agree. You can review your plan as your children get older and their needs change, or if your situation changes.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>This might be right for you if</strong></td>
          <td class="govuk-table__cell">It would be helpful to have a neutral third party to guide the conversation with your ex-partner.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Important things to consider</strong></td>
          <td class="govuk-table__cell"><ul class="govuk-list govuk-list--bullet">
            <li>Initial meeting: You may need to go to a short meeting with a mediator to assess if mediation is the right option for you. This is sometimes called a Mediation Information and Assessment Meeting (MIAM).</li>
            <li>Court is still an option: If the mediator does not think mediation is right for you, they might advise you to go to court instead.</li>
            <li>Child-inclusive mediation: Children can have a voice in the process if it's suitable. A mediator can talk to your child about what they want to make sure their views are heard.</li>
          </ul>
        </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Next step</strong></td>
          <td class="govuk-table__cell"><a href="https://www.gov.uk/looking-after-children-divorce/mediation"> Find out more about mediation</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="court">
    <h2 class="govuk-heading-l">Family court</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Cost</strong></td>
          <td class="govuk-table__cell">It costs £263 to apply for a court order. If you have a solicitor, legal costs will vary depending on experience,  location and the time spent on your case. There may also be other costs like barristers fees and expert reports, depending on how complex your case is.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Help with costs</strong></td>
          <td class="govuk-table__cell">You may be able to get:
            <ul class="govuk-list govuk-list--bullet">
            <li>help paying court fees if you're on benefits or a low income</li>
            <li>legal aid to help with legal costs if there has been domestic abuse or a child is at risk</li>
          </ul>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Time</strong></td>
          <td class="govuk-table__cell">It usually takes around 10 months to get a court order, depending on where you live and your situation.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Who makes the decision?</strong></td>
          <td class="govuk-table__cell">A judge</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Is it legally binding?</strong></td>
          <td class="govuk-table__cell">Yes</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>How can you change the arrangements?</strong></td>
          <td class="govuk-table__cell">If you ask the court to change an order, you'll probably have to go to a court hearing. You can usually avoid this if you get support outside of court, such as using a mediator.</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>This might be right for you if</strong></td>
          <td class="govuk-table__cell"><ul class="govuk-list govuk-list--bullet">
            <li>you cannot agree after mediation or getting help another way</li>
            <li>there's been domestic or any other kind of abuse</li>
          </ul>
        </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Important things to consider</strong></td>
          <td class="govuk-table__cell">Mediation: You will usually need to show you have tried mediation before you apply for a court order. 
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Next step</strong></td>
          <td class="govuk-table__cell"><a href="https://www.gov.uk/looking-after-children-divorce/types-of-court-order"> Find out more about court orders</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


    </div>
  </div>

{% endblock %}
