{% extends "partials/layout.njk" %}

{% block pageTitle %}
  {{ __("pages.contactUs.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ __("exitThisPage")  | safe }}

      <h1 class="govuk-heading-l">{{ __("pages.contactUs.title") }}</h1>
      <p class="govuk-body">{{ __("pages.contactUs.content.reportProblem") }}</p>
      <p class="govuk-body">{{ __("pages.contactUs.content.childArrangementsLink") | safe }}</p>
      <p class="govuk-body">{{ __("pages.contactUs.content.feedbackEmailAddress") }}</p>
      <p class="govuk-body">{{ __("pages.contactUs.content.cannotAnswerQuestions") }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "partials/exitThisPage.njk" %}
    </div>
  </div>
{% endblock %}
