{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{% set title = __("pages.contactComfort.title") %}
{% block pageTitle %}
  {{ __("pages.contactComfort.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}
      <form class="form" action="{{ paths.CONTACT_COMFORT }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <h1 class="govuk-heading-l">
          {{ __("pages.contactComfort.title") }}
        </h1>

        {% set radioItems = [
          { value: "yes", text: __("pages.contactComfort.content.options.first")  },
          { value: "no", text: __("pages.contactComfort.content.options.second") },
          { value: "no-details", text: __("pages.contactComfort.content.options.third") },
          { value: "not-response", text: __("pages.contactComfort.content.options.fourth") }
        ] %}

        {{ govukRadios({
          name: formFields.CONTACT,
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.CONTACT)
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
