{% extends "partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>{{ __('contactUs.reportProblem') }}</p>
      <p>{{ contactEmail | customUrlize | safe }}</p>
      <p>{{ __('contactUs.onlyUseForFeedback') }}</p>
      <p>{{ __('contactUs.cannotAnswerQuestions') }}</p>
    </div>
  </div>
{% endblock %}
