{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{% block pageTitle %}
  {{ __("pages.contactUs.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __("pages.contactUs.title") }}</h1>
      <p class="govuk-body">{{ __("pages.contactUs.content.reportProblem") }}</p>
      <p class="govuk-body">{{ __("pages.contactUs.content.childArrangementsLink") | safe }}</p>
      <p class="govuk-body">{{ __("pages.contactUs.content.feedbackEmailAddress") }}</p>
      <p class="govuk-body">{{ __("pages.contactUs.content.cannotAnswerQuestions") }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
