{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __('pages.cookies.title') }}</h1>

      <p>{{ __('pages.cookies.content.putSmallFiles') }}</p>

      <p>{{ __('pages.cookies.content.usedTo') }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __('pages.cookies.content.remember') }}</li>
        <li>{{ __('pages.cookies.content.measure') }}</li>
      </ul>

      <p>{{ __('pages.cookies.content.identifyYouPersonally') }}</p>

      <p>{{ __('pages.cookies.content.messageBeforeStore') }}</p>

      <p>{{ __('pages.cookies.content.manageCookiesLink') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.cookies.content.howCookiesAreUsed.title') }}</h2>

      <h3 class="govuk-heading-s">{{ __('pages.cookies.content.howCookiesAreUsed.content.essentialCookies.title') }}</h3>

      <p>{{ __('pages.cookies.content.howCookiesAreUsed.content.essentialCookies.description') }}</p>

      <h3 class="govuk-heading-s">{{ __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.title') }}</h3>

      <p>{{ __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.description') }}</p>

      {{
        govukTable({
          head: [
            { text: __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.table.headerRow.name') },
            { text: __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.table.headerRow.purpose') },
            { text: __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.table.headerRow.expires') }
          ],
          rows: [
            [
              { text: cookieNames.SESSION },
              { text: __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.table.valueRow.purpose') },
              { text: __('pages.cookies.content.howCookiesAreUsed.content.rememberingProgress.table.valueRow.expires') }
            ]
          ]
        })
      }}

      {% if ga4Id %}

        <h2 class="govuk-heading-m">{{ __('pages.cookies.content.cookiesMessage.title') }}</h2>

        <p>{{ __('pages.cookies.content.cookiesMessage.content.seeBanner') }}</p>

        <p>{{ __('pages.cookies.content.cookiesMessage.content.setCookies') }}</p>

        {{
          govukTable({
            head: [
              { text: __('pages.cookies.content.cookiesMessage.content.table.headerRow.name') },
              { text: __('pages.cookies.content.cookiesMessage.content.table.headerRow.purpose') },
              { text: __('pages.cookies.content.cookiesMessage.content.table.headerRow.expires') }
            ],
            rows: [
              [
                { text: cookieNames.ANALYTICS_CONSENT },
                { text: __('pages.cookies.content.cookiesMessage.content.table.valueRow.purpose') },
                { text: __('pages.cookies.content.cookiesMessage.content.table.valueRow.expires') }
              ]
            ]
          })
        }}

        <h2 class="govuk-heading-m">{{ __('pages.cookies.content.analyticsCookies.title') }}</h2>

        <h3 class="govuk-heading-s">{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.title') }}</h3>

        <p>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.googleAnalyticsSoftware') }}</p>

        <p>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.googleAnalyticsStores') }}</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.pagesYouVisit') }}</li>
          <li>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.howLongYouSpend') }}</li>
          <li>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.howYouGotToService') }}</li>
          <li>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.whatYouClick') }}</li>
        </ul>

        <p>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.weDoNotCollect') }}</p>

        <p>{{ __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.setsTheCookies') }}</p>

        {{
          govukTable({
            caption: __('pages.cookies.content.analyticsCookies.measuringServiceUsage.content.universalAnalytics'),
            captionClasses: "govuk-table__caption--s",
            head: [
              { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.headerRow.name') },
              { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.headerRow.purpose') },
              { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.headerRow.expires') }
            ],
            rows: [
              [
                { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.valueRowOne.name') },
                { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.valueRowOne.purpose') },
                { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.valueRowOne.expires') }
              ],
              [
                { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.valueRowTwo.name') + (ga4Id | replace("G-", "")) },
                { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.valueRowTwo.purpose')},
                { text: __('pages.cookies.content.analyticsCookies.universalAnalytics.table.valueRowTwo.expires') }
              ]
            ]
          })
        }}

        <form class="form" action="{{ paths.COOKIES }}" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{
            govukRadios({
              name: formFields.ACCEPT_OPTIONAL_COOKIES,
              fieldset: {
                legend: {
                  text: __('pages.cookies.content.acceptAnalyticsCookies.title'),
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: __('pages.cookies.content.acceptAnalyticsCookies.options.yes'),
                  checked: analyticsEnabled
                },
                {
                  value: "No",
                  text: __('pages.cookies.content.acceptAnalyticsCookies.options.no'),
                  checked: false if analyticsEnabled else true
                }
              ]
            })
          }}

          {{ govukButton({text: __('pages.cookies.content.acceptAnalyticsCookies.buttonText')}) }}
        </form>
      {% endif %}

    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
