{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set title = __("pages.courtOrder.title") %}
{% block pageTitle %}
  {{ __("pages.courtOrder.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ __("pages.courtOrder.title") }}
      </h1>

      <h2 class="govuk-heading-m">
        {{ __("pages.courtOrder.content.whyRightForYou.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.whyRightForYou.canApplyIf") }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.courtOrder.content.whyRightForYou.reasons.cannotAgree") | safe }}</li>
        <li>{{ __("pages.courtOrder.content.whyRightForYou.reasons.domesticAbuse") }}</li>
        <li>{{ __("pages.courtOrder.content.whyRightForYou.reasons.cannotContact") }}</li>
        <li>{{ __("pages.courtOrder.content.whyRightForYou.reasons.consentOrder") | safe }}</li>
      </ul>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.whyRightForYou.canApplyFor") }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.courtOrder.content.whyRightForYou.orderTypes.childArrangements") }}</li>
        <li>{{ __("pages.courtOrder.content.whyRightForYou.orderTypes.specificIssues") }}</li>
        <li>{{ __("pages.courtOrder.content.whyRightForYou.orderTypes.prohibitedSteps") }}</li>
      </ul>

      <h2 class="govuk-heading-m">
        {{ __("pages.courtOrder.content.thingsToConsider.title") }}
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.courtOrder.content.thingsToConsider.mediation") | safe }}</li>

        {% if abuse == "yes" %}
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              {{ __("pages.courtOrder.content.thingsToConsider.miamExemption.warning") }}
              <ul class="govuk-list govuk-list--bullet">
                <li><strong>{{ __("pages.courtOrder.content.thingsToConsider.miamExemption.reasons.life") }}</strong></li>
                <li><strong>{{ __("pages.courtOrder.content.thingsToConsider.miamExemption.reasons.harmToChild") }}</strong></li>
                <li><strong>{{ __("pages.courtOrder.content.thingsToConsider.miamExemption.reasons.unlawfullyTaken") }}</strong></li>
              </ul>
              {{ __("pages.courtOrder.content.thingsToConsider.miamExemption.moreInfo") | safe }}
            </strong>
          </div>
        {% endif %}

        <li>{{ __("pages.courtOrder.content.thingsToConsider.cost") | safe }}</li>
        <li>{{ __("pages.courtOrder.content.thingsToConsider.time") | safe }}</li>
      </ul>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.nextStep") | safe }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        {{ __("pages.courtOrder.content.otherWays.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.otherWays.description") }}
      </p>

      <h3 class="govuk-heading-s">
        {{ __("pages.courtOrder.content.otherWays.mediation.title") }}
      </h3>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.otherWays.mediation.description") }}
      </p>

      {{ govukInsetText({
        text: __("pages.courtOrder.content.otherWays.mediation.inset")
      }) }}

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.otherWays.mediation.alreadyTried") }}
      </p>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.otherWays.mediation.link") | safe }}
      </p>

      <h3 class="govuk-heading-s">
        {{ __("pages.courtOrder.content.otherWays.arbitration.title") }}
      </h3>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.otherWays.arbitration.description") }}
      </p>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.otherWays.arbitration.link") | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ __("pages.courtOrder.content.helpAndSupport.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.courtOrder.content.helpAndSupport.description") }}
      </p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="{{ __('pages.courtOrder.content.helpAndSupport.services.adviceNow.url') }}">
                {{ __("pages.courtOrder.content.helpAndSupport.services.adviceNow.name") }}
              </a>
            </th>
            <td class="govuk-table__cell">{{ __("pages.courtOrder.content.helpAndSupport.services.adviceNow.description") }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="{{ __('pages.courtOrder.content.helpAndSupport.services.cafcass.url') }}">
                {{ __("pages.courtOrder.content.helpAndSupport.services.cafcass.name") }}
              </a>
            </th>
            <td class="govuk-table__cell">{{ __("pages.courtOrder.content.helpAndSupport.services.cafcass.description") }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="{{ __('pages.courtOrder.content.helpAndSupport.services.cafcassCymru.url') }}">
                {{ __("pages.courtOrder.content.helpAndSupport.services.cafcassCymru.name") }}
              </a>
            </th>
            <td class="govuk-table__cell">{{ __("pages.courtOrder.content.helpAndSupport.services.cafcassCymru.description") }}</td>
          </tr>
        </tbody>
      </table>

      <button id="print-this-page-button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        {{ __("pages.courtOrder.printThisPage") }}
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          {{ __("pages.courtOrder.content.relatedContent.title") }}
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="{{ __('pages.courtOrder.content.relatedContent.links.makingArrangements.url') }}">
                {{ __("pages.courtOrder.content.relatedContent.links.makingArrangements.text") }}
              </a>
            </li>
            <li>
              <a href="{{ __('pages.courtOrder.content.relatedContent.links.applyForOrder.url') }}">
                {{ __("pages.courtOrder.content.relatedContent.links.applyForOrder.text") }}
              </a>
            </li>
            <li>
              <a href="{{ __('pages.courtOrder.content.relatedContent.links.parentalRights.url') }}">
                {{ __("pages.courtOrder.content.relatedContent.links.parentalRights.text") }}
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
