{% extends "partials/layout.njk" %}

{% set title = __("pages.court.title") %}
{% block pageTitle %}
  Content page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Explore: Applying for a court order
      </h1>

      <h2 class="govuk-heading-m">
        Why this could be right for you
      </h2>

      <p>
        You can apply for a court order if:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you cannot agree after <a href="https://www.gov.uk/looking-after-children-divorce/mediation">mediation</a> or <a href="https://www.gov.uk/looking-after-children-divorce/non-court-dispute-resolution">getting help another way</a></li>
        <li>there's been domestic abuse or any other kind of abuse</li>
        <li>you cannot contact your ex-partner</li>
        <li>you're applying for a consent order to make your <a href="https://www.gov.uk/looking-after-children-divorce/if-you-agree">parenting plan</a> legally binding</li>
      </ul>

      <p>
        You can apply for a:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>child arrangements order, which decides where your child lives and what contact takes place</li>
        <li>specific issues order, if you need a decision on a question like what school they go to</li>
        <li>prohibited steps order, to stop the other parent from making a decision about the child's upbringing</li>
      </ul>

      <h2 class="govuk-heading-m">
        Important things to consider
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Mediation:</strong> You will usually need to show you have tried mediation or another way to agree before you apply for a court order. If you cannot contact your ex-partner, you still need to attend the initial Mediation Information and Assessment Meeting (MIAM) alone before applying to go to court, unless you are exempt.</li>
        <li><strong>Cost:</strong> It costs £263 to apply for a court order. You may be able to get help paying court fees if you're on benefits or a low income.</li>
        <li><strong>Time:</strong> It usually takes around 10 months to get a court order, depending on where you live and your situation.</li>
      </ul>

      <p>
        <a href="https://www.gov.uk/looking-after-children-divorce/types-of-court-order"> Find out more about court orders</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Other ways to agree without going to court
      </h2>

      <p>
        Court is the right option for some families. If you want to try another way to agree without going to court, you can look into:
      </p>

      <h3 class="govuk-heading-s">
        Mediation
      </h3>

      <p>
        This could suit you if: You'd like a professional to help you and your ex-partner agree on the details of a child arrangement. You do not have to be in the same room or video call as your ex-partner.
      </p>

      <div class="govuk-inset-text">
      You can usually get a voucher worth up to £500 to pay for family mediation through the Family Mediation Voucher Scheme, regardless of what you earn.
      </div>

      <p>
        Already tried mediation? You can always try again, for example if your situation or child's needs have changed.
      </p>

      <p>
        <a href="mediation">Explore: Mediation</a>
      </p>

      <h3 class="govuk-heading-s">
        Arbitration
      </h3>

      <p>
        This could suit you if: You'd prefer that someone like a judge or solicitor listens to both of your views and makes a legally-binding decision about the child arrangements.
      </p>

      <p>
        <a href="https://www.gov.uk/looking-after-children-divorce/non-court-dispute-resolution"> Find out more about other ways to agree without going to court</a>
      </p>

      <h2 class="govuk-heading-m">
        Help and support
      </h2>
      <p>These are some of the services you may find helpful for applying for a court order. You can also <a href="/service-finder">find more child arrangement support services</a>.
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.advicenow.org.uk/get-help/family-and-children/child-arrangements/what-do-you-apply-family-court-about-your-children"> Advice Now</a></th>
            <td class="govuk-table__cell">Information on child arrangements from a charity that provides easy-to-understand legal information, self-help tools and training for people facing urgent legal problems.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.cafcass.gov.uk/parent-carer-or-family-member/my-family-involved-private-law-proceedings/court-process-and-what-expect">Children and Family Court Advisory and Support Service (Cafcass)</a></th>
            <td class="govuk-table__cell">Advice on the court process from Cafcass, which looks after the interests of children in family court cases in England.</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.gov.wales/cafcass-cymru/family-separation/information-for-parents">Cafcass Cymru</a></th>
            <td class="govuk-table__cell">Child-focused advice from Cafcass Cymru, which safeguards children and makes sure their voices are heard in family courts across Wales.</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Print this page
      </button>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce">
                Making child arrangements if you divorce or separate
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce/apply-for-court-order">
                Apply for a court order
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/parental-rights-responsibilities">
                Parental rights and responsibilities
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
