{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{ getTitle(formFields.DOMESTIC_ABUSE, errors) }}
{% endblock %}

{% set legendText %}
  {{ __("pages.domesticAbuse.heading") }}
{% endset %}

{% set additionalText %}
  <div id="domestic-abuse-additional-text">
    <p class="govuk-body">
      {{ __("pages.domesticAbuse.intro") }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ __("pages.domesticAbuse.bullets.violence") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.financial") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.coercive") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.harassment") }}</li>
    </ul>

    <p class="govuk-body">
      {{ __("pages.domesticAbuse.answerYes") }}
    </p>

    <p class="govuk-body">
      {{ __("pages.domesticAbuse.rightInformation") }}
    </p>
  </div>
{% endset %}

{% set radioItems = [
  { value: "yes", text: __("pages.domesticAbuse.yes") },
  { value: "no", text: __("pages.domesticAbuse.no") }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ __("exitThisPage")  | safe }}

      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.DOMESTIC_ABUSE }}?lang={{ getLocale() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          name: formFields.DOMESTIC_ABUSE,
          describedBy: 'domestic-abuse-additional-text',
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: additionalText
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.DOMESTIC_ABUSE)
        }) }}

        {{ govukButton({
          text: __("continue")
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "partials/exitThisPage.njk" %}
    </div>
  </div>
{% endblock %}
