{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = __("pages.domesticAbuse.title") %}
{% block pageTitle %}
  {{ title }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% set legendText %}
  {{ __("pages.domesticAbuse.heading") }}
{% endset %}

{% set additionalText %}
  <div id="domestic-abuse-additional-text">
    <p class="govuk-body">
      {{ __("pages.domesticAbuse.intro") }}
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ __("pages.domesticAbuse.bullets.violence") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.financial") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.coercive") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.childAbuse") }}</li>
      <li>{{ __("pages.domesticAbuse.bullets.harassment") }}</li>
    </ul>
  </div>
{% endset %}

{% set radioItems = [
  { value: "yes", text: "Yes" },
  { value: "no", text: "No" }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.DOMESTIC_ABUSE }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          name: formFields.ABUSE,
          describedBy: 'domestic-abuse-additional-text',
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: additionalText
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.ABUSE)
        }) }}

        {{ govukButton({
          text: __("continue")
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
