{% extends "partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/title.njk" import getTitle with context %}

{% block pageTitle %}
  {{ getTitle(formFields.HELP_TO_AGREE, errors) }}
{% endblock %}

{% set legendText %}
  {{ __("pages.helpToAgree.title") | safe }}
{% endset %}

{% set radioItems = [
  { value: "plan", text: __("pages.helpToAgree.content.options.first")  },
  { value: "external", text: __("pages.helpToAgree.content.options.second") },
  { value: "cannot", text: __("pages.helpToAgree.content.options.third") }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ __("exitThisPage")  | safe }}

      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.HELP_TO_AGREE }}?lang={{ getLocale() }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          name: formFields.HELP_TO_AGREE,
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.HELP_TO_AGREE)
        }) }}

        {{ govukButton({
          text: __("continue")
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "partials/exitThisPage.njk" %}
    </div>
  </div>
{% endblock %}
