{% extends "partials/layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ __('serviceName') }} – GOV.UK{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">Home</li>
      <li class="govuk-breadcrumbs__list-item">Negotiation tools and services</li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Make or change a child arrangements plan</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ __('serviceName') }}</h1>
      <p>This service helps you work out a plan for your child arrangements with a co-parent or carer to avoid going to court.</p>
      <p>This service works best if you collaborate with the other parent or carer but it can also be done individually.</p>
      <p>The service creates a PDF or accessible HTML page containing your proposed plan which you can share with another parent or carer to ask their agreement.
      </p>
      <p>Any plan you create using this service is not legally binding. The other person does not have to do what it says and either of you can suggest changes to it at any time. 
      </p>
      <h3>Use this service to propose:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>where your children live</li>
        <li>when your children spend time with each co-parent or carer</li>
        <li>handovers, holidays or whatever else is important to your children</li>
      </ul>

      <h3>This service is useful if:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          you are separated or divorced from your co-parent and have no child arrangements in place yet
        </li>
        <li>you want to propose changes to your existing arrangements and there is no court order in place</li>
        <li>you want to avoid court as it can take around ten months to get a court order, depending on your circumstances and where you live</li>
      </ul>
      <p>
        You can also
        <a href="{{ paths.DOWNLOAD_PAPER_FORM }}">download a template child arrangements plan (PDF, 0.5MB)</a>.
      </p>

      {{
        govukButton({
          text: "Start now",
          isStartButton: true,
          href: paths.SAFETY_CHECK
        })
      }}

      <h2 class="govuk-heading-m">External help links</h2>
      <p>
        If you think the other parent is a threat to you or your children's safety, you should not use this service.
        <br>
        <a
          href="https://www.citizensadvice.org.uk/family/making-agreements-about-your-children/making-child-arrangements"
          target="_blank" rel="noopener noreferrer" title="Visit citizens advice"
        >Find another way to make arrangements (opens in new tab)</a>
        .
      </p>

      <p><a href="https://www.nspcc.org.uk/what-is-child-abuse"
        target="_blank" rel="noopener noreferrer" title="Visit NSPCC to find out about child abuse and neglect"
        >Find out more about child abuse and neglect (opens in new tab)</a>.</p>
      <p>
        <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help#recognise-domestic-abuse"
          target="_blank" rel="noopener noreferrer" title="Find out about signs of domestic abuse"
          >Find out more about signs of domestic abuse (opens in new tab)</a
        >
        if you're unsure whether you're a victim.
      </p>

      <p>
        <a href="https://www.cafcass.gov.uk/sites/default/files/migrated/Top-Tips-for-parents-who-are-separated.pdf"
          target="_blank" rel="noopener noreferrer" title="Visit cafass to see tips for parents"
          >Tips for parents (opens in new tab)</a
        >
        from a child's perspective.
      </p>
    </div>
  </div>
{% endblock %}
