{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{% set title = __("pages.mediation.title") %}
{% block pageTitle %}
  {{ __("pages.mediation.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ __("pages.mediation.title") }}
      </h1>

      <h2 class="govuk-heading-m">
        {{ __("pages.mediation.content.rightForYou.title") }}
      </h2>
      <p class="govuk-body">
        {{ __("pages.mediation.content.rightForYou.content.chooseAProfessional") }}
      </p>
      <p class="govuk-body">
        {{ __("pages.mediation.content.rightForYou.content.sameRoom") }}
      </p>

      <h2 class="govuk-heading-m">
        {{ __("pages.mediation.content.thingsToConsider.title") }}
      </h2>

      {% if abuse == "yes" %}
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            {{ __("pages.mediation.content.thingsToConsider.content.info") }}
          </strong>
        </div>
      {% endif %}

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.mediation.content.thingsToConsider.content.initialMeeting") | safe }}</li>
        <li>{{ __("pages.mediation.content.thingsToConsider.content.cost") | safe }}</li>
      </ul>

      <div class="govuk-inset-text">
        {{ __("pages.mediation.content.thingsToConsider.content.costInset") }}
      </div>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.mediation.content.thingsToConsider.content.stayInControl") | safe }}</li>
        <li>{{ __("pages.mediation.content.thingsToConsider.content.childInclusiveMediation") | safe }}</li>
        <li>{{ __("pages.mediation.content.thingsToConsider.content.courtOption") | safe }}</li>
      </ul>

      <p class="govuk-body">
        {{ __("pages.mediation.content.thingsToConsider.content.mediationLink") | safe }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        {{ __("pages.mediation.content.otherWaysToAgree.title") }}
      </h2>
      <p class="govuk-body">
        {{ __("pages.mediation.content.otherWaysToAgree.description") }}
      </p>

      <h3 class="govuk-heading-s">
        {{ __("pages.mediation.content.otherWaysToAgree.content.makingAParentingPlan.title") }}
      </h3>
      <p class="govuk-body">
        {{ __("pages.mediation.content.otherWaysToAgree.content.makingAParentingPlan.description") }}
      </p>
      <p class="govuk-body">
        {{ __("pages.mediation.content.otherWaysToAgree.content.makingAParentingPlan.link") | safe }}
      </p>

      <h3 class="govuk-heading-s">
        {{ __("pages.mediation.content.otherWaysToAgree.content.arbitration.title") }}
      </h3>
      <p class="govuk-body">
        {{ __("pages.mediation.content.otherWaysToAgree.content.arbitration.description") }}
      </p>
      <p class="govuk-body">
        {{ __("pages.mediation.content.otherWaysToAgree.content.arbitration.link") | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ __("pages.mediation.content.helpAndSupport.title") }}
      </h2>
      <p class="govuk-body">
        {{ __("pages.mediation.content.helpAndSupport.description") }}
      </p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key-mediation-width">
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key-mediation-width">
            {{ __("pages.mediation.content.helpAndSupport.mediationCouncilLink") | safe }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ __("pages.mediation.content.helpAndSupport.mediationCouncilText") }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-summary-list__key-mediation-width">
            {{ __("pages.mediation.content.helpAndSupport.legalAidAdviserLink") | safe }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ __("pages.mediation.content.helpAndSupport.legalAidAdviserText") }}
          </dd>
        </div>
      </dl>

      <button id="print-this-page-button" onclick="printPage()" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        {{ __("printThisPage") }}
      </button>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m subsection-title">
          {{ __("pages.mediation.relatedContent.title") }}
      </h2>
      <nav role="navigation">
          <ul class="govuk-list govuk-!-font-size-16">
            <li class="govuk-!-margin-bottom-2">
                {{ __("pages.mediation.relatedContent.content.makingChildArrangements") | safe }}
            </li>
            <li class="govuk-!-margin-bottom-2">
                {{ __("pages.mediation.relatedContent.content.familyMediation") | safe }}
            </li>
          </ul>
      </nav>
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
