{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = __("pages.otherOptions.title") %}
{% block pageTitle %}
  {{ __("pages.otherOptions.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% set legendText %}
  {{ __("pages.otherOptions.content.description") }}
{% endset %}

{% set additionalText %}
  <div id="other-options-additional-text">
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ __("pages.otherOptions.content.descriptionList.first") }}</li>
      <li>{{ __("pages.otherOptions.content.descriptionList.second") }}</li>
      <li>{{ __("pages.otherOptions.content.descriptionList.third") }}</li>
      <li>{{ __("pages.otherOptions.content.descriptionList.fourth") }}</li>
      <li>{{ __("pages.otherOptions.content.descriptionList.fifth") }}</li>
    </ul>
  </div>
{% endset %}

{% set radioItems = [
  { value: "yes", text: __("pages.otherOptions.content.options.yes")  },
  { value: "no", text: __("pages.otherOptions.content.options.no") }
] %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "partials/errorSummary.njk" %}

      <form class="form" action="{{ paths.OTHER_OPTIONS }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukRadios({
          name: formFields.OTHER_OPTIONS,
          describedBy: 'other-options-additional-text',
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: additionalText
          },
          items: radioItems,
          errorMessage: errors | findError(formFields.OTHER_OPTIONS)
        }) }}

        
        {{ govukButton({
          text: __("continue")
        }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
