{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set title = __("pages.parentingPlan.title") %}
{% block pageTitle %}
  {{ __("pages.parentingPlan.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ __("pages.parentingPlan.title") }}
      </h1>

      <h2 class="govuk-heading-m">
        {{ __("pages.parentingPlan.content.whyRightForYou.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.whyRightForYou.noPaperwork") }}
      </p>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.whyRightForYou.informalArrangements") }}
      </p>

      {% if abuse == "yes" %}
        {{ govukWarningText({
          html: __("pages.parentingPlan.content.warningText"),
          iconFallbackText: "Warning"
        }) }}
      {% endif %}

      <h2 class="govuk-heading-m">
        {{ __("pages.parentingPlan.content.thingsToConsider.title") }}
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.parentingPlan.content.thingsToConsider.noCourt") | safe }}</li>
        <li>{{ __("pages.parentingPlan.content.thingsToConsider.noCost") | safe }}</li>
        <li>{{ __("pages.parentingPlan.content.thingsToConsider.easyToChange") | safe }}</li>
        <li>{{ __("pages.parentingPlan.content.thingsToConsider.legallyBinding") | safe }}</li>
      </ul>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.thingsToConsider.findOutMore") | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ __("pages.parentingPlan.content.nextStep.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.nextStep.description") }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.parentingPlan.content.nextStep.items.whereLive") }}</li>
        <li>{{ __("pages.parentingPlan.content.nextStep.items.spendTime") }}</li>
        <li>{{ __("pages.parentingPlan.content.nextStep.items.handovers") }}</li>
      </ul>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.nextStep.link") | safe }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        {{ __("pages.parentingPlan.content.otherWays.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.otherWays.description") }}
      </p>

      <h3 class="govuk-heading-s">
        {{ __("pages.parentingPlan.content.otherWays.mediation.title") }}
      </h3>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.otherWays.mediation.description") }}
      </p>

      {{ govukInsetText({
        text: __("pages.parentingPlan.content.otherWays.mediation.inset")
      }) }}

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.otherWays.mediation.link") | safe }}
      </p>

      <h2 class="govuk-heading-m">
        {{ __("pages.parentingPlan.content.helpAndSupport.title") }}
      </h2>

      <p class="govuk-body">
        {{ __("pages.parentingPlan.content.helpAndSupport.description") }}
      </p>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="{{ __('pages.parentingPlan.content.helpAndSupport.services.adviceNow.url') }}">
                {{ __("pages.parentingPlan.content.helpAndSupport.services.adviceNow.name") }}
              </a>
            </th>
            <td class="govuk-table__cell">{{ __("pages.parentingPlan.content.helpAndSupport.services.adviceNow.description") }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="{{ __('pages.parentingPlan.content.helpAndSupport.services.cafcass.url') }}">
                {{ __("pages.parentingPlan.content.helpAndSupport.services.cafcass.name") }}
              </a>
            </th>
            <td class="govuk-table__cell">{{ __("pages.parentingPlan.content.helpAndSupport.services.cafcass.description") }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              <a href="{{ __('pages.parentingPlan.content.helpAndSupport.services.cafcassCymru.url') }}">
                {{ __("pages.parentingPlan.content.helpAndSupport.services.cafcassCymru.name") }}
              </a>
            </th>
            <td class="govuk-table__cell">{{ __("pages.parentingPlan.content.helpAndSupport.services.cafcassCymru.description") }}</td>
          </tr>
        </tbody>
      </table>

      <button id="print-this-page-button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        {{ __("pages.parentingPlan.printThisPage") }}
      </button>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          {{ __("pages.parentingPlan.content.relatedContent.title") }}
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="{{ __('pages.parentingPlan.content.relatedContent.links.makingArrangements.url') }}">
                {{ __("pages.parentingPlan.content.relatedContent.links.makingArrangements.text") }}
              </a>
            </li>
            <li>
              <a href="{{ __('pages.parentingPlan.content.relatedContent.links.proposeAPlan.url') }}">
                {{ __("pages.parentingPlan.content.relatedContent.links.proposeAPlan.text") }}
              </a>
            </li>
            <li>
              <a href="{{ __('pages.parentingPlan.content.relatedContent.links.childMaintenance.url') }}">
                {{ __("pages.parentingPlan.content.relatedContent.links.childMaintenance.text") }}
              </a>
            </li>
            <li>
              <a href="{{ __('pages.parentingPlan.content.relatedContent.links.parentalRights.url') }}">
                {{ __("pages.parentingPlan.content.relatedContent.links.parentalRights.text") }}
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
