{% extends "partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}

{% block content %}
  <form method="post" action="{{ paths.PASSWORD }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        {% include "partials/errorSummary.njk" %}
        <h1 class="govuk-heading-l">{{ title }}</h1>

        <p>
          This service is available for a private audience by invitation only. Your password is in your email invite.
        </p>
        <p>Only use this service if you have been sent an invite to do so.</p>

        {{
          govukPasswordInput({
            classes: "govuk-input--width-10",
            name: formFields.PASSWORD,
            errorMessage: errors | findError(formFields.PASSWORD),
            label: {
              text: "Password"
            }
          })
        }}

        <input type="hidden" name="returnURL" value="{{ returnURL }}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{ govukButton({text: __('continue')}) }}
      </div>
    </div>
  </form>
{% endblock %}
