{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{% block pageTitle %}
  {{ __("pages.privacyNotice.title") }} – {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __('pages.privacyNotice.title') }}</h1>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.committed') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.notice') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.noticeDescription') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.privacyNotice.content.typesOfPersonalData.title') }}</h2>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.typesOfPersonalData.content.collectAndProcessInformation') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.typesOfPersonalData.content.gatheringInformation') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.typesOfPersonalData.content.typesOfInformation') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __('pages.privacyNotice.content.typesOfPersonalData.content.userInteractions') }}</li>
      </ul>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.typesOfPersonalData.content.doNotShareAnswers') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.privacyNotice.content.howToComplain.title') }}</h2>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.dataProtectionOfficer.description') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.dataProtectionOfficer.address') | safe }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.dataProtectionOfficer.website') | safe }}</p>

      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.informationCommissionersOffice.description') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.informationCommissionersOffice.address') | safe }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.informationCommissionersOffice.helplineNumber') }}</p>
      <p class="govuk-body">{{ __('pages.privacyNotice.content.howToComplain.informationCommissionersOffice.website') | safe }}</p>

      <p class="govuk-body">{{ __('pages.privacyNotice.content.statement') }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
