{% extends "partials/layout.njk" %}

{% set title = __("pages.question-2.title") %}
{% block pageTitle %}
  Question page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/contact-answer" method="post">

        <h1 class="govuk-heading-l">
       Are you comfortable contacting your ex-partner about child arrangements?
      </h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    },
    {
      value: "no-details",
      text: "I do not have their contact details"
    },
    {
      value: "no-response",
      text: "I can contact them but they do not respond"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
