{% extends "partials/layout.njk" %}

{% set title = __("pages.question-3.title") %}
{% block pageTitle %}
  Question page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/agree-answer" method="post">

        <h1 class="govuk-heading-l">
       Do you and your ex-partner agree on child arrangements?
      </h1>

      <p>
       This includes things like:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>where your children will live</li>
        <li>when they spend time with each parent</li>
        <li>handovers, holidays and whatever else matters to your children</li>
      </ul>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "agree",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, we agree on some or most things"
            },
            {
              value: "no",
              text: "No, we do not agree"
            },
            {
              value: "not-discussed",
              text: "We have not discussed it yet"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
