{% extends "partials/layout.njk" %}

{% set title = __("pages.question-5.title") %}
{% block pageTitle %}
  Question page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ paths.QUESTION_5_MEDIATION }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      <h1 class="govuk-heading-l">
        Have you tried any of the following together in the last 6 months?
      </h1>

      <p>
        <ul class="govuk-list govuk-list--bullet">
        <li>Family mediation</li>
        <li>Arbitration</li>
        <li>Solicitor negotiation</li>
        <li>Collaborative law</li>
        <li>Neutral evaluation</li>
      </ul>
      </p>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "mediation",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes, we have tried one or more of these"
    },
    {
      value: "no",
      text: "No, we have not tried any of these"
    }
  ]
}) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
