{% extends "partials/layout.njk" %}

{% set title = __("pages.question-1.title") %}
{% block pageTitle %}
  Question page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ paths.QUESTION_1_ABUSE }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <h1 class="govuk-heading-l">
          Have you or your children experienced abuse from your ex-partner?
        </h1>

        <p>
          You may have been in an abusive relationship if you or your children have experienced any of the following:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Abuse or violence, including physical, emotional and sexual</li>
          <li>Financial or economic abuse</li>
          <li>Coercive control (threats, humiliation, intimidation, degradation, isolation and control)</li>
          <li>Child abuse, neglect, or child abduction</li>
          <li>Harassment and stalking</li>
          <li>Psychological abuse</li>
        </ul>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "abuse",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errors[0].msg if errors and errors.length else null,
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
