{% extends "partials/layout.njk" %}

{% set title = __("pages.question-4.title") %}
{% block pageTitle %}
  Question page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/help-answer" method="post">

      <h1 class="govuk-heading-l">
       What would help you both agree on child arrangements?
      </h1>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "help",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "plan",
      text: "A plan we can follow ourselves"
    },
    {
      value: "external",
      text: "Someone else to guide our conversations"
    },
    {
      value: "cannot",
      text: "We cannot agree - someone else needs to make a decision for us"
    }
  ]
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
