{% extends "partials/layout.njk" %}

{% set title = __("pages.safeguarding.title") %}
{% block pageTitle %}
  Content page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Getting help
      </h1>

      <p>
        You may have been in an abusive relationship. Domestic abuse or violence is a crime. It is important to remember that there is help and support available to you.
      </p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "If you are in immediate danger, call 999 and ask for the police.",
  iconFallbackText: "Warning"
}) }}
      <h2 class="govuk-heading-m">
        If you want to continue
      </h2>

      <p>
       If you feel confident that you can carry on without any danger to yourself or the children, you can continue using the service.
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: paths.QUESTION_2_CONTACT,
  classes: "govuk-button--primary"
}) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Get help protecting yourself and your children
      </h2>
      <p>
        If you are a victim of domestic abuse, you can <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help#get-a-court-order-to-protect-you-or-your-child">apply for a court order to protect yourself and your child</a>.
      </p>
      <p>
        Citizens Advice has <a href="https://www.citizensadvice.org.uk/family/making-agreements-about-your-children/making-child-arrangements/">advice on making child arrangements when there's been domestic abuse</a>.
      </p>
      <p>
        Find out <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help">how to get help with domestic abuse</a>.
      </p>
      <p>
        If you want to access help specifically to cater to your background and needs or want support and help for specific types of abuse there are several organisations that can help - see <a href="https://www.gov.uk/government/publications/domestic-abuse-get-help-for-specific-needs-or-situations/domestic-abuse-specialist-sources-of-support">Domestic abuse: specialist sources of support</a>.
      </p>

      <h2 class="govuk-heading-m">
        Help and support
      </h2>
      <p>There is free, confidential support available to help you and your family.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.nationaldahelpline.org.uk/">Refuge's National Domestic Abuse Helpline</a></th>
            <td class="govuk-table__cell"><p>Free, confidential advice, 24 hours a day.</p>
            <p>Telephone: 0808 2000 247</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://www.gov.wales/live-fear-free">Live Fear Free (Wales)</a></th>
            <td class="govuk-table__cell"><p>24 hour service with specialists who make referrals and link to other services and advice.</p>
            <p>Telephone: 0808 80 10 100</p>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="https://mensadviceline.org.uk/">Men's Advice Line</a></th>
            <td class="govuk-table__cell"><p>A supportive helpline for all male victims of domestic abuse and those supporting them.</p>
            <p>Telephone: 0808 801 0327</p>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="govuk-grid-column-one-third">
      {% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{{ govukExitThisPage() }}

    </div>
  </div>

{% endblock %}
