{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = __("pages.start.title") %}
{% block pageTitle %}
  {{ __("serviceName") }} – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
      <h1 class="govuk-heading-xl">{{ __("pages.start.title") }}</h1>
      <p>{{ __("pages.start.description") }}</p>
      

      <h2 class="govuk-heading-m">
        {{ __("pages.start.howItWorks.title") }}
      </h2>

      <p>{{ __("pages.start.howItWorks.content.circumstances") }}</p>

      <p>{{ __("pages.start.howItWorks.content.personalDetails") }}</p>

      <p>{{ __("pages.start.howItWorks.content.tenMinutes") }}</p>

      <h2 class="govuk-heading-m">
        {{ __("pages.start.exitTheService.title") }}
      </h2>

      <p>{{ __("pages.start.exitTheService.description") }}</p>

      {{
        govukButton({
          text: "Start now",
          isStartButton: true,
          href: paths.DOMESTIC_ABUSE
        })
      }}

    </div>
    
    {%- include "partials/relatedContent.njk" -%}

  </div>
{% endblock %}
