{% extends "partials/layout.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = __("pages.start.title") %}
{% block pageTitle %}
  {{ __("serviceName") }}
  – GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ __("pages.start.title") }}</h1>

      <h2 class="govuk-heading-m">{{ __("pages.start.whoShouldUse.title") }}</h2>

      <p class="govuk-body">{{ __("pages.start.whoShouldUse.description") }}</p>

      <p class="govuk-body">{{ __("pages.start.whoShouldUse.avoidCourt") }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __("pages.start.whoShouldUse.bullets.whereLive") }}</li>
        <li>{{ __("pages.start.whoShouldUse.bullets.timeSpent") }}</li>
      </ul>

      <p class="govuk-body">{{ __("pages.start.whoShouldUse.childArrangements") }}</p>

      <h2 class="govuk-heading-m">{{ __("pages.start.whoShouldNotUse.title") }}</h2>

      <p class="govuk-body">{{ __("pages.start.whoShouldNotUse.parentalResponsibility") }}</p>

      <p class="govuk-body">{{ __("pages.start.whoShouldNotUse.financialArrangements") | safe }}</p>

      <h2 class="govuk-heading-m">{{ __("pages.start.howItWorks.title") }}</h2>

      <p class="govuk-body">{{ __("pages.start.howItWorks.content.circumstances") }}</p>

      <p class="govuk-body">{{ __("pages.start.howItWorks.content.personalDetails") }}</p>

      <p class="govuk-body">{{ __("pages.start.howItWorks.content.tenMinutes") }}</p>

      {% if includeWelshLanguage %}
        {% if getLocale() == 'cy' %}
          {{ govukInsetText({
            html: 'Mae\'r gwasanaeth hwn hefyd ar gael yn <a href="?lang=en" class="govuk-link govuk-link--no-underline">Saesneg (English)</a>'
          }) }}
        {% else %}
          {{ govukInsetText({
            html: 'This service is also available in <a href="?lang=cy" class="govuk-link govuk-link--no-underline">Welsh (Cymraeg)</a>'
          }) }}
        {% endif %}
      {% endif %}

      <h2 class="govuk-heading-m">{{ __("pages.start.exitTheService.title") }}</h2>

      <p class="govuk-body">{{ __("pages.start.exitTheService.description") }}</p>

      {{
        govukButton({
          text: __("pages.start.startButtonText"),
          isStartButton: true,
          href: paths.CHILD_SAFETY
        })
      }}
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m subsection-title">{{ __("pages.start.relatedContent.title") }}</h2>
      <nav role="navigation">
        <ul class="govuk-list govuk-!-font-size-16">
          <li class="govuk-!-margin-bottom-2">
            <a href="{{ __('pages.start.relatedContent.links.makingChildArrangements') }}">
              {{ __("pages.start.relatedContent.content.makingChildArrangements") }}
            </a>
          </li>
          <li class="govuk-!-margin-bottom-2">
            <a href="{{ __('pages.start.relatedContent.links.childMaintenance') }}">
              {{ __("pages.start.relatedContent.content.childMaintenance") }}
            </a>
          </li>
          <li class="govuk-!-margin-bottom-2">
            <a href="{{ __('pages.start.relatedContent.links.parentalRights') }}">
              {{ __("pages.start.relatedContent.content.parentalRights") }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
