{% extends "partials/layout.njk" %}

{% set title = __("pages.start.title") %}
{% block pageTitle %}
  Start page template – {{ __("serviceName") }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ __("serviceName") }}
      </h1>

      <p>Use this service if you are separating or have separated from your partner and are unsure about how you should make child arrangements.</p>

      <p>It takes about 10 minutes to use this service.</p>

      <h2 class="govuk-heading-m">
        How it works
      </h2>
      <p>You will be asked questions about your circumstances, including your current relationship with your ex-partner. You will not be asked for any personal details.</p>

      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "Your answers will not be saved or shared with anyone."
}) }}

      <p>Based on your answers, you will be shown the option that best suits your situation. This could be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>making a child arrangements plan with your ex-partner (also known as a parenting plan)</li>
        <li>mediation</li>
        <li>applying to the family court</li>
      </ul>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Start now",
        href: paths.QUESTION_1_ABUSE,
        isStartButton: true
      }) }}


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/looking-after-children-divorce">
                Making child arrangements if you divorce or separate
              </a>
            </li>
            <li>
              <a href="https://care-arrangement-plan.apps.live.cloud-platform.service.justice.gov.uk/">
                Propose a child arrangements plan
              </a>
            </li>
            <li>
              <a href="#">
                Child maintenance
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/parental-rights-responsibilities">
                Parental rights and responsibilities
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
