{% extends "partials/layout.njk" %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ __('pages.termsAndConditions.title') }}</h1>

      <h2 class="govuk-heading-m">{{ __('pages.termsAndConditions.content.responsibility.title') }}</h2>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.responsibility.description') }}</p>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.responsibility.noLiability') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __('pages.termsAndConditions.content.responsibility.items.unableToAccess') }}</li>
        <li>{{ __('pages.termsAndConditions.content.responsibility.items.indirectDamages') }}</li>
        <li>{{ __('pages.termsAndConditions.content.responsibility.items.externalWebsites') }}</li>
      </ul>

      <h2 class="govuk-heading-m">{{ __('pages.termsAndConditions.content.information.title') }}</h2>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.information.collectAndProcess') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ __('pages.termsAndConditions.content.information.items.childArrangement') }}</li>
        <li>{{ __('pages.termsAndConditions.content.information.items.howYouUse') }}</li>
      </ul>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.information.agreeToCollect') }}</p>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.information.doNotCollectPII') | safe }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.termsAndConditions.content.limitations.title') }}</h2>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.limitations.description') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.termsAndConditions.content.misuse.title') }}</h2>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.misuse.description') }}</p>

      <h2 class="govuk-heading-m">{{ __('pages.termsAndConditions.content.restrictions.title') }}</h2>
      <p class="govuk-body">{{ __('pages.termsAndConditions.content.restrictions.description') }}</p>
      <p class="govuk-body govuk-!-margin-bottom-0">{{ __('pages.termsAndConditions.content.restrictions.legalConsequences') }}</p>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukExitThisPage() }}
    </div>
  </div>
{% endblock %}
