name: Validation

on:
  workflow_call:
  pull_request:
  schedule:
    - cron: '0 8 * * 2'

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: 'Setup Node.js'
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e
        with:
          node-version-file: '.nvmrc'

      - name: 'Install Dependencies'
        run: npm ci --no-audit

      - name: 'Run Linter'
        run: npm run lint

      - name: 'Run Typecheck'
        run: npm run typecheck

      - name: 'Run Unit Tests'
        run: npm run test:ci

      - name: 'Install Playwright Browsers'
        run: npx playwright install --with-deps chromium

      - name: 'Run Playwright E2E Tests'
        run: npm run e2e

      - name: 'Upload Playwright Report'
        if: always()
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
